.container {
	padding-top: 5rem;
}
@media (min-width: 75em) {
	.container {
		max-width: 60rem;
	}
	.intro .center-block {
		max-width: 60%;
	}
}
.intro .center-block:last-child {
	margin-bottom: 0;
}
.form-status {
	margin-top: 1em;
}
.form-inline .btn {
	display: block;
	width: 100%;
}
@media (min-width: 34em) {
	.form-inline .btn {
		display: inline-block;
		width: inherit;
	}	
}
footer.navbar {
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-top: 1px solid #ddd;
}
footer p,
footer ul {
	margin: 0;
}
@media (max-width: 48em) {
	.navbar-fixed-bottom,
	.navbar-fixed-top {
		position: static;
		right: inherit;
		left: inherit;
		z-index: inherit;
		margin-bottom: inherit;
		bottom: inherit;
	}
	.navbar-fixed-bottom {
		margin-top: 2rem;
	}
}